{% extends 'base.html.twig' %}

{% block title 'Welcome' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 text-center">Welcome, Mr {{ app.user.fullName }}</h1>
    </div>
{% endblock %}
