@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

* {
    font-family: 'Quicksand', sans-serif;
}

.dashboard-card {
    transition: transform .4s ease-in-out, box-shadow .4s ease-in-out;
    &:hover {
        transform: scale(1.02);
        @extend .shadow-lg;
    }
}

.link-c {
    transition: color .2s ease-in-out;
    color: black;
    &:hover {
        color: #fe4f4f !important;
        @extend .text-decoration-none
    }
}

.icon-edit-back {
    background: silver;
    height: 45px;
    width: 45px;
    display: block;
    float: right;
    /* border-radius: 50%; */
    position: relative;
    top: -21px;
    left: 22px;
    transform: rotate(45deg);
}

.edit-icon {
    position: relative;
    top: 27px;
    left: -15px;
    transform: rotate(-45deg);
}

// FOR FLASHY

.flashy {
    font-family: Arial, sans-serif;
    padding: 11px 30px;
    border-radius: 4px;
    font-weight: 400;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: #fff;
}

.flashy--success {
    background-color: #99c93d;
    color: #fff;
}

.flashy--warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.flashy--muted {
    background: #eee;
    color: #3a3a3a;
    border: 1px solid #e2e2e2;
}

.flashy--muted-dark {
    background: #133259;
    color: #e2e1e7;
}

.flashy--info a,
.flashy--primary-dark a {
    color: #fff;
}

.flashy--error {
    background: #d14130;
    color: #fff;
}

.flashy--primary {
    background: #573e81;
}

.flashy--primary-dark {
    background: linear-gradient(to right, #133259 30%, #0d233e);
}

.flashy--info {
    background: #00baf3;
}

.flashy > ul {
    padding-left: 15px;
}

.flashy > p:only-of-type {
    margin-bottom: 0;
}

.flashy i {
    margin-right: 8px;
    position: relative;
    top: 6px;
}

.flashy .flashy__body {
    color: inherit;
}

@media only screen and (max-width: 1050px) {
    .flashy {
        text-align: center;
        right: 0;
        left: 50%;
        width: 300px;
        margin-left: -150px;
    }
}

// END FLASHY

@keyframes changeOpacityImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.img, img {
    opacity: 0;
    animation: changeOpacityImg;
    animation-delay: .5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: opacity .5s ease-in-out;
}

.actions-article-admin {
    transform: translateY(13px);
    opacity: 0;
    transition: opacity .2s ease-in-out, transform .4s ease-in-out;
    z-index: 1000;
}
.o-g {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    position: absolute;
    background-image: linear-gradient(180Deg, #0000000f, #93939357);;
    z-index: 100;
    height: 100%;
}

#show-hide-f-js {
    border-bottom: 1px solid #dbdbdb;
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
}

/* CATEGORY STYLE */
.table td,
.table th {
    vertical-align: middle;
    padding: 10px;
}

.btn {
    border: none;
}

#search-in-js, #search-in-post-js {
    border: none;
    border-bottom: 1px solid gray;
    background-color: inherit;
    width: 200px;
    position: absolute;
    padding-left: 20px;
    transition: border-color .2s ease-in-out, width .3s ease-in-out;
}

#search-in-post-js:focus {
    outline: none;
    border-color: #fe4f4f;
}

.fa-search {
    transition: color .2s ease-in-out;
}

#search-in-js:focus {
    outline: none;
    border-color: #fe4f4f;
    width: 100%;
}

img.s-i {
    transition: box-shadow .4s ease-in-out;
}

img.s-i:hover {
    @extend .shadow-lg
}

@media (max-width: 576px) {
    ._font-change-28 {
        font-size: 28px !important;
    }
}