<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse" id="s-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item {% if cm is defined and cm == 'dashboard' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('app_home') }}">Dashboard</a>
                </li>
                <li class="nav-item {% if cm is defined and cm == 'create' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('app_post_create') }}">Create new post</a>
                </li>
                <li class="nav-item {% if cm is defined and cm == 'createCategory' %} active {% endif %}">
                    <a class="nav-link" href="#">Add new category</a>
                </li>
                <li class="nav-item {% if cm is defined and cm == 'list' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('app_post_show_list') }}">List posts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>