{% if app.user %}
    <div class="container-fluid mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% if __action is defined and __action == 'post'%}
                <li class="nav-item">
                    <a aria-controls="dashboard" aria-selected="false" class="nav-link link-c" data-toggle="tab" href="#dashboard"
                       id="profile-tab" role="tab">Dashboard & statistics</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="posts" aria-selected="true" class="nav-link link-c active" data-toggle="tab"
                       href="#posts" id="home-tab"
                       role="tab">Post tab</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="category" aria-selected="false" class="nav-link link-c" data-toggle="tab" href="#category"
                       id="profile-tab" role="tab">Category tab</a>
                </li>
            {% elseif __action is defined and __action == 'category' %}
                <li class="nav-item">
                    <a aria-controls="dashboard" aria-selected="false" class="nav-link link-c" data-toggle="tab" href="#dashboard"
                       id="profile-tab" role="tab">Dashboard & statistics</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="posts" aria-selected="false" class="nav-link link-c" data-toggle="tab" href="#posts" id="home-tab"
                       role="tab">Post tab</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="category" aria-selected="true" class="nav-link link-c active" data-toggle="tab" href="#category"
                       id="profile-tab" role="tab">Category tab</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a aria-controls="dashboard" aria-selected="true" class="nav-link link-c active" data-toggle="tab" href="#dashboard"
                       id="profile-tab" role="tab">Dashboard & statistics</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="posts" aria-selected="false" class="nav-link link-c" data-toggle="tab" href="#posts" id="home-tab"
                       role="tab">Post tab</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="category" aria-selected="false" class="nav-link link-c" data-toggle="tab" href="#category"
                       id="profile-tab" role="tab">Category tab</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}