{% if app.user %}
    <div class="container-fluid mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active link-c" id="profile-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="profile" aria-selected="false">Dashboard & statistics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-c" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Post tab</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-c" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Category tab</a>
            </li>
        </ul>
    </div>
{% endif %}