<footer class="container py-5 mb-5 text-center">
    <img src="https://seeklogo.com/images/S/symfony-logo-AA34C8FC16-seeklogo.com.png" style="height: 25px;" alt="">
    <h5>Created by symfony 5.1.7 Framework</h5>
    <p class=" text-muted">
        Created by Youssef El Gharib <br>
        Follow us in the social media for more symfony projects
    </p>
    <div class="_icons-foot">
        <a href="" class="link-c-i"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="link-c-i"><i class="fab fa-twitter"></i></a>
        <a href="" class="link-c-i"><i class="fab fa-instagram"></i></a>
        <a href="" class="link-c-i"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>