{% extends "base.html.twig" %}

{% block title 'Create new category' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-cenet text-muted">Create new category</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-block btn-primary" value="Add category">
            {{ form_start(form) }}
        </div>
    </div>
</div>

{% endblock %}