{% extends "base.html.twig" %}

{% block title 'Edit category ' ~ category.id %}

{% block body %}
{{ include('layouts/_dashboard_navbar.html.twig') }}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-4">Edit the category</h1>
            {{ include('category/shared/_form_category.html.twig') }}
        </div>
    </div>
</div>

{% endblock %}