<style>
    .table td,
    .table th {
        vertical-align: middle;
        padding: 10px;
    }

    .btn {
        border: none;
    }
</style>
<div class="container">

    <div class="mt-4">
        <p class="text-center text-muted">More category ? Create new
            <a href="{{ path('app_category_create')}}" class="text-muted link-c">one</a>
        </p>
    </div>
</div>

{% block javascripts %}

    <script>
        document.querySelectorAll('a#delete-link-js').forEach(function (element) {
            let catId = element.querySelector('span#cat-id').textContent;
            element.addEventListener('click', function (event) {
                event.preventDefault();
                element.parentElement.querySelector('form#form-delete-category-js-' + catId).submit();
            });
        });
    </script>

{% endblock %}