{% for message in app.flashes('mercuryseries_flashy_notification') %}
    <script id="flashy-template" type="text/template">
        <div class="flashy flashy--{{ message.type }}">
            <span class="flashy__body"></span>
        </div>
    </script>

    <script>
        flashy("{{ message.message }}");
    </script>
{% endfor %}